BACKEND_URL="<insert-url-here>"
PUBLIC_REGION_DEFAULT_ID=1
SITE_URL="<example:https://proyectorespira.net>"
FRONTEND_PORT=4321
PUBLIC_GTAG="<example:g-tag>"
SMTP_KEY="<example:smtp-service-key>"
SMTP_SENDER="<example:Acme <test@proyectorespira.net>>"
