BACKEND_SECRET_KEY="<django-insecure-...>"
BACKEND_PORT="<default:8000>"
PROXY_PORT="<default:80>"
CORS_ALLOWED_ORIGINS="<origin1>,<origin2>"
CERT_NAME="<example:.proyectorespira.net>"
ENVIRONMENT="<example:production|local|development>"

BACKEND_URL="<default:proyectorespira.net>"
PUBLIC_REGION_DEFAULT_ID="<example:8495471280173798472>"
FRONTEND_PORT="<example:4321>"
SITE_URL="<example:https://proyectorespira.net>"
PUBLIC_GTAG="<example:G-XXXXXXXXXX>"
SMTP_KEY="<example:smtp-service-key>"
SMTP_SENDER="<example:Acme <noreply@proyectorespira.net>>"
SERVER_HOST="<example:proyectorespira.net>"
